<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<string>123456</string>
	<key>userA</key>
	<string>12345</string>
	<key>hihihi</key>
	<string>77777</string>
	<key>qhuiyan</key>
	<string>7777777</string>
	<key>nihao</key>
	<string>3334</string>
	<key>xiexie</key>
	<string>3q3q</string>
</dict>
</plist>
